@charset "UTF-8";
:root {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  font-family: "Alegreya", serif;
  color: #fff;
}

.contenedor {
  width: 85%;
  margin: 80px auto;
}

.tituloSecundario {
  color: #222;
  font-size: 4rem;
  text-align: center;
  font-style: normal;
}

.parrafo {
  color: #222;
  font-size: 2.5rem;
}

.resaltado {
  font-size: 3rem;
}

.header {
  width: 100%;
  background-image: url("../multimedia/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.contenedor--header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr repeat(3, 1fr);
  height: 100%;
  margin-top: 0;
}

/*Nav*/
.nav {
  grid-column: 3/5;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.nav__items {
  align-self: center;
  margin: 1rem 1rem;
  font-size: 2.5rem;
  position: relative;
}
.nav__items:hover {
  text-decoration: underline;
}

/*Logo*/
.logo {
  grid-row: 2/4;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo__textoContainer {
  padding: 1rem;
  border-radius: 2%;
  box-sizing: content-box;
}

.tituloPrincipal {
  font-size: 6rem;
}

.subtitulo {
  font-size: 3.5rem;
  font-weight: lighter;
}

.acercaDe {
  display: inline-block;
  padding: 3rem;
  position: relative;
  overflow: visible;
  background: linear-gradient(#ccc, transparent);
  margin-bottom: 0;
}

.acercaDe__img {
  width: 60%;
  height: 70%;
  display: inline-block;
  position: absolute;
  top: -30px;
  z-index: 2;
  margin: auto;
}
.acercaDe__img img {
  width: 100%;
  height: 100%;
}

.acercaDe__textoContainer {
  padding: 10px;
  background-color: #fff;
  position: relative;
  z-index: 10;
  float: right;
  width: 47%;
  border-radius: 5px;
}

.contenedor--menu {
  padding: 3rem;
  border-radius: 5px;
  border: 8px double #222;
  margin: 0 auto;
}

.container {
  width: 50%;
  display: inline-block;
}

.contenedor--tomar {
  float: right;
}

.tituloSecundario--chico {
  font-size: 3rem;
}

.cajitas {
  margin: 4rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
  overflow: hidden;
}

.galeria__img {
  transition-duration: 500ms;
  flex-grow: 1;
  min-width: 25%;
  max-width: 25%;
  height: 50%;
  filter: sepia(46%);
  -webkit-filter: sepia(46%);
  -moz-filter: sepia(46%);
}
.galeria__img:hover {
  filter: none;
}

.contenedor--contacto {
  display: flex;
}

.parrafo--contacto {
  text-align: center;
}

.btn {
  background: transparent;
}

/*100 px*/
@media screen and (max-width: 1000px) {
  :root {
    font-size: 8px;
  }

  /*header*/
  .logo {
    grid-column: 2/4;
  }

  /*Menu*/
  .contenedor--menu {
    padding: 1rem;
    border: 6px double #222;
    margin-top: 8px;
  }
}
/*850 px*/
@media screen and (max-width: 850px) {
  /*Galería*/
  .galeria__img {
    min-width: 30%;
    max-width: 33.33%;
    height: 25%;
  }

  .img--none {
    display: none;
  }
}
/*788 px*/
@media screen and (max-width: 788px) {
  :root {
    font-size: 7.2px;
  }

  /*Nav*/
  .nav {
    grid-column: 2/4;
  }

  /*Logo*/
  .logo {
    grid-column: 1/4;
  }

  /*Acerca de*/
  .acercaDe__img {
    width: 80%;
  }

  .acercaDe__textoContainer {
    padding: 8px;
    float: none;
    width: 70%;
    border-radius: 4px;
    margin: auto;
  }

  /*Galería*/
  .galeria__img {
    min-width: 50%;
    max-width: 50%;
    height: 25%;
  }

  .galeria__img:nth-child(6), .galeria__img:nth-child(5) {
    display: none;
  }
}
/*680 px*/
@media screen and (max-width: 788px) {
  /*Nav*/
  .nav {
    display: none;
  }

  /*Acerca de*/
  .acercaDe__img {
    width: 83%;
  }

  .acercaDe__textoContainer {
    padding: 8px;
    float: none;
    width: 78%;
    border-radius: 4px;
    margin: auto;
  }
}
/*580px*/
@media screen and (max-width: 580px) {
  /*Logo*/
  .logo {
    grid-column: 1/5;
  }

  .logo__textoContainer {
    padding: 0.5rem;
    border: none;
  }

  /*Acerca de*/
  .acercaDe__img {
    width: 85%;
  }

  .acercaDe__textoContainer {
    width: 90%;
  }
}
/*500px*/
@media screen and (max-width: 580px) {
  /*Acerca de*/
  .acercaDe {
    background-image: url("../multimedia/acerca-de.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .acercaDe__img {
    display: none;
  }

  .acercaDe__textoContainer {
    width: 100%;
    text-align: center;
  }

  /*Menu*/
  .menu {
    padding: 4rem 0;
    margin: 0;
    background: linear-gradient(#ccc, transparent);
  }

  .contenedor--tomar, .contenedor--comer {
    float: none;
    width: 100%;
  }

  /*Galería*/
  .galeria {
    margin-top: 0;
  }

  /*Contacto*/
  .ubicacion, .horarios {
    display: block;
    width: 100%;
  }

  .ubicacion {
    margin-bottom: 5rem;
  }

  .contenedor--contacto {
    flex-wrap: wrap;
  }
}
/*450px*/
@media screen and (max-width: 450px) {
  .galeria {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
